/target
Data/.DS_Store
Data/appsettings.Development.json
Data/appsettings.json
Data/Core.dll
Data/createdump
Data/Discord.dll
Data/Discord.Net.Commands.dll
Data/Discord.Net.Core.dll
Data/Discord.Net.Rest.dll
Data/Discord.Net.Webhook.dll
Data/Discord.Net.WebSocket.dll
Data/DiscordRPC.dll
Data/Easy.MessageHub.dll
Data/electron.manifest.json
Data/ElectronNET.API.dll
Data/EngineIoClientDotNet.dll
Data/ICSharpCode.SharpZipLib.dll
Data/libclrjit.dylib
Data/libcoreclr.dylib
Data/libdbgshim.dylib
Data/libhostfxr.dylib
Data/libhostpolicy.dylib
Data/libmscordaccore.dylib
Data/libmscordbi.dylib
Data/libSystem.IO.Compression.Native.a
Data/libSystem.IO.Compression.Native.dylib
Data/libSystem.Native.a
Data/libSystem.Native.dylib
Data/libSystem.Net.Security.Native.a
Data/libSystem.Net.Security.Native.dylib
Data/libSystem.Security.Cryptography.Native.Apple.a
Data/libSystem.Security.Cryptography.Native.Apple.dylib
Data/libSystem.Security.Cryptography.Native.OpenSsl.a
Data/libSystem.Security.Cryptography.Native.OpenSsl.dylib
Data/Markdig.dll
Data/Microsoft.AspNetCore.Antiforgery.dll
Data/Microsoft.AspNetCore.Authentication.Abstractions.dll
Data/Microsoft.AspNetCore.Authentication.Cookies.dll
Data/Microsoft.AspNetCore.Authentication.Core.dll
Data/Microsoft.AspNetCore.Authentication.dll
Data/Microsoft.AspNetCore.Authentication.OAuth.dll
Data/Microsoft.AspNetCore.Authorization.dll
Data/Microsoft.AspNetCore.Authorization.Policy.dll
Data/Microsoft.AspNetCore.Components.Authorization.dll
Data/Microsoft.AspNetCore.Components.dll
Data/Microsoft.AspNetCore.Components.Forms.dll
Data/Microsoft.AspNetCore.Components.Server.dll
Data/Microsoft.AspNetCore.Components.Web.dll
Data/Microsoft.AspNetCore.Connections.Abstractions.dll
Data/Microsoft.AspNetCore.CookiePolicy.dll
Data/Microsoft.AspNetCore.Cors.dll
Data/Microsoft.AspNetCore.Cryptography.Internal.dll
Data/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
Data/Microsoft.AspNetCore.DataProtection.Abstractions.dll
Data/Microsoft.AspNetCore.DataProtection.dll
Data/Microsoft.AspNetCore.DataProtection.Extensions.dll
Data/Microsoft.AspNetCore.Diagnostics.Abstractions.dll
Data/Microsoft.AspNetCore.Diagnostics.dll
Data/Microsoft.AspNetCore.Diagnostics.HealthChecks.dll
Data/Microsoft.AspNetCore.dll
Data/Microsoft.AspNetCore.HostFiltering.dll
Data/Microsoft.AspNetCore.Hosting.Abstractions.dll
Data/Microsoft.AspNetCore.Hosting.dll
Data/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll
Data/Microsoft.AspNetCore.Html.Abstractions.dll
Data/Microsoft.AspNetCore.Http.Abstractions.dll
Data/Microsoft.AspNetCore.Http.Connections.Common.dll
Data/Microsoft.AspNetCore.Http.Connections.dll
Data/Microsoft.AspNetCore.Http.dll
Data/Microsoft.AspNetCore.Http.Extensions.dll
Data/Microsoft.AspNetCore.Http.Features.dll
Data/Microsoft.AspNetCore.HttpOverrides.dll
Data/Microsoft.AspNetCore.HttpsPolicy.dll
Data/Microsoft.AspNetCore.Identity.dll
Data/Microsoft.AspNetCore.Localization.dll
Data/Microsoft.AspNetCore.Localization.Routing.dll
Data/Microsoft.AspNetCore.Metadata.dll
Data/Microsoft.AspNetCore.Mvc.Abstractions.dll
Data/Microsoft.AspNetCore.Mvc.ApiExplorer.dll
Data/Microsoft.AspNetCore.Mvc.Core.dll
Data/Microsoft.AspNetCore.Mvc.Cors.dll
Data/Microsoft.AspNetCore.Mvc.DataAnnotations.dll
Data/Microsoft.AspNetCore.Mvc.dll
Data/Microsoft.AspNetCore.Mvc.Formatters.Json.dll
Data/Microsoft.AspNetCore.Mvc.Formatters.Xml.dll
Data/Microsoft.AspNetCore.Mvc.Localization.dll
Data/Microsoft.AspNetCore.Mvc.Razor.dll
Data/Microsoft.AspNetCore.Mvc.RazorPages.dll
Data/Microsoft.AspNetCore.Mvc.TagHelpers.dll
Data/Microsoft.AspNetCore.Mvc.ViewFeatures.dll
Data/Microsoft.AspNetCore.Razor.dll
Data/Microsoft.AspNetCore.Razor.Runtime.dll
Data/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll
Data/Microsoft.AspNetCore.ResponseCaching.dll
Data/Microsoft.AspNetCore.ResponseCompression.dll
Data/Microsoft.AspNetCore.Rewrite.dll
Data/Microsoft.AspNetCore.Routing.Abstractions.dll
Data/Microsoft.AspNetCore.Routing.dll
Data/Microsoft.AspNetCore.Server.HttpSys.dll
Data/Microsoft.AspNetCore.Server.IIS.dll
Data/Microsoft.AspNetCore.Server.IISIntegration.dll
Data/Microsoft.AspNetCore.Server.Kestrel.Core.dll
Data/Microsoft.AspNetCore.Server.Kestrel.dll
Data/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll
Data/Microsoft.AspNetCore.Session.dll
Data/Microsoft.AspNetCore.SignalR.Common.dll
Data/Microsoft.AspNetCore.SignalR.Core.dll
Data/Microsoft.AspNetCore.SignalR.dll
Data/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
Data/Microsoft.AspNetCore.StaticFiles.dll
Data/Microsoft.AspNetCore.WebSockets.dll
Data/Microsoft.AspNetCore.WebUtilities.dll
Data/Microsoft.CSharp.dll
Data/Microsoft.Extensions.Caching.Abstractions.dll
Data/Microsoft.Extensions.Caching.Memory.dll
Data/Microsoft.Extensions.Configuration.Abstractions.dll
Data/Microsoft.Extensions.Configuration.Binder.dll
Data/Microsoft.Extensions.Configuration.CommandLine.dll
Data/Microsoft.Extensions.Configuration.dll
Data/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Data/Microsoft.Extensions.Configuration.FileExtensions.dll
Data/Microsoft.Extensions.Configuration.Ini.dll
Data/Microsoft.Extensions.Configuration.Json.dll
Data/Microsoft.Extensions.Configuration.KeyPerFile.dll
Data/Microsoft.Extensions.Configuration.UserSecrets.dll
Data/Microsoft.Extensions.Configuration.Xml.dll
Data/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Data/Microsoft.Extensions.DependencyInjection.dll
Data/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll
Data/Microsoft.Extensions.Diagnostics.HealthChecks.dll
Data/Microsoft.Extensions.FileProviders.Abstractions.dll
Data/Microsoft.Extensions.FileProviders.Composite.dll
Data/Microsoft.Extensions.FileProviders.Embedded.dll
Data/Microsoft.Extensions.FileProviders.Physical.dll
Data/Microsoft.Extensions.FileSystemGlobbing.dll
Data/Microsoft.Extensions.Hosting.Abstractions.dll
Data/Microsoft.Extensions.Hosting.dll
Data/Microsoft.Extensions.Http.dll
Data/Microsoft.Extensions.Identity.Core.dll
Data/Microsoft.Extensions.Identity.Stores.dll
Data/Microsoft.Extensions.Localization.Abstractions.dll
Data/Microsoft.Extensions.Localization.dll
Data/Microsoft.Extensions.Logging.Abstractions.dll
Data/Microsoft.Extensions.Logging.Configuration.dll
Data/Microsoft.Extensions.Logging.Console.dll
Data/Microsoft.Extensions.Logging.Debug.dll
Data/Microsoft.Extensions.Logging.dll
Data/Microsoft.Extensions.Logging.EventLog.dll
Data/Microsoft.Extensions.Logging.EventSource.dll
Data/Microsoft.Extensions.Logging.TraceSource.dll
Data/Microsoft.Extensions.ObjectPool.dll
Data/Microsoft.Extensions.Options.ConfigurationExtensions.dll
Data/Microsoft.Extensions.Options.DataAnnotations.dll
Data/Microsoft.Extensions.Options.dll
Data/Microsoft.Extensions.Primitives.dll
Data/Microsoft.Extensions.WebEncoders.dll
Data/Microsoft.JSInterop.dll
Data/Microsoft.Net.Http.Headers.dll
Data/Microsoft.VisualBasic.Core.dll
Data/Microsoft.VisualBasic.dll
Data/Microsoft.Win32.Primitives.dll
Data/Microsoft.Win32.Registry.dll
Data/Microsoft.Win32.SystemEvents.dll
Data/mscorlib.dll
Data/netstandard.dll
Data/Newtonsoft.Json.dll
Data/Pipas
Data/Pipas.deps.json
Data/Pipas.dll
Data/Pipas.runtimeconfig.dev.json
Data/Pipas.runtimeconfig.json
Data/Pipas.Views.dll
Data/Proxy.dll
Data/Sentry.dll
Data/SocketIoClientDotNet.dll
Data/StarBound.dll
Data/SuperSocket.ClientEngine.dll
Data/SymbolicLinkSupport.dll
Data/System.AppContext.dll
Data/System.Buffers.dll
Data/System.Collections.Concurrent.dll
Data/System.Collections.dll
Data/System.Collections.Immutable.dll
Data/System.Collections.NonGeneric.dll
Data/System.Collections.Specialized.dll
Data/System.ComponentModel.Annotations.dll
Data/System.ComponentModel.DataAnnotations.dll
Data/System.ComponentModel.dll
Data/System.ComponentModel.EventBasedAsync.dll
Data/System.ComponentModel.Primitives.dll
Data/System.ComponentModel.TypeConverter.dll
Data/System.Configuration.dll
Data/System.Console.dll
Data/System.Core.dll
Data/System.Data.Common.dll
Data/System.Data.DataSetExtensions.dll
Data/System.Data.dll
Data/System.Diagnostics.Contracts.dll
Data/System.Diagnostics.Debug.dll
Data/System.Diagnostics.DiagnosticSource.dll
Data/System.Diagnostics.EventLog.dll
Data/System.Diagnostics.FileVersionInfo.dll
Data/System.Diagnostics.Process.dll
Data/System.Diagnostics.StackTrace.dll
Data/System.Diagnostics.TextWriterTraceListener.dll
Data/System.Diagnostics.Tools.dll
Data/System.Diagnostics.TraceSource.dll
Data/System.Diagnostics.Tracing.dll
Data/System.dll
Data/System.Drawing.Common.dll
Data/System.Drawing.dll
Data/System.Drawing.Primitives.dll
Data/System.Dynamic.Runtime.dll
Data/System.Formats.Asn1.dll
Data/System.Globalization.Calendars.dll
Data/System.Globalization.dll
Data/System.Globalization.Extensions.dll
Data/System.Interactive.Async.dll
Data/System.IO.Compression.Brotli.dll
Data/System.IO.Compression.dll
Data/System.IO.Compression.FileSystem.dll
Data/System.IO.Compression.ZipFile.dll
Data/System.IO.dll
Data/System.IO.FileSystem.AccessControl.dll
Data/System.IO.FileSystem.dll
Data/System.IO.FileSystem.DriveInfo.dll
Data/System.IO.FileSystem.Primitives.dll
Data/System.IO.FileSystem.Watcher.dll
Data/System.IO.IsolatedStorage.dll
Data/System.IO.MemoryMappedFiles.dll
Data/System.IO.Pipelines.dll
Data/System.IO.Pipes.AccessControl.dll
Data/System.IO.Pipes.dll
Data/System.IO.UnmanagedMemoryStream.dll
Data/System.Linq.Async.dll
Data/System.Linq.dll
Data/System.Linq.Expressions.dll
Data/System.Linq.Parallel.dll
Data/System.Linq.Queryable.dll
Data/System.Memory.dll
Data/System.Net.Connections.dll
Data/System.Net.dll
Data/System.Net.Http.dll
Data/System.Net.Http.Json.dll
Data/System.Net.HttpListener.dll
Data/System.Net.Mail.dll
Data/System.Net.NameResolution.dll
Data/System.Net.NetworkInformation.dll
Data/System.Net.Ping.dll
Data/System.Net.Primitives.dll
Data/System.Net.Requests.dll
Data/System.Net.Security.dll
Data/System.Net.ServicePoint.dll
Data/System.Net.Sockets.dll
Data/System.Net.WebClient.dll
Data/System.Net.WebHeaderCollection.dll
Data/System.Net.WebProxy.dll
Data/System.Net.WebSockets.Client.dll
Data/System.Net.WebSockets.dll
Data/System.Numerics.dll
Data/System.Numerics.Vectors.dll
Data/System.ObjectModel.dll
Data/System.Private.CoreLib.dll
Data/System.Private.DataContractSerialization.dll
Data/System.Private.Uri.dll
Data/System.Private.Xml.dll
Data/System.Private.Xml.Linq.dll
Data/System.Reflection.DispatchProxy.dll
Data/System.Reflection.dll
Data/System.Reflection.Emit.dll
Data/System.Reflection.Emit.ILGeneration.dll
Data/System.Reflection.Emit.Lightweight.dll
Data/System.Reflection.Extensions.dll
Data/System.Reflection.Metadata.dll
Data/System.Reflection.Primitives.dll
Data/System.Reflection.TypeExtensions.dll
Data/System.Resources.Reader.dll
Data/System.Resources.ResourceManager.dll
Data/System.Resources.Writer.dll
Data/System.Runtime.CompilerServices.Unsafe.dll
Data/System.Runtime.CompilerServices.VisualC.dll
Data/System.Runtime.dll
Data/System.Runtime.Extensions.dll
Data/System.Runtime.Handles.dll
Data/System.Runtime.InteropServices.dll
Data/System.Runtime.InteropServices.RuntimeInformation.dll
Data/System.Runtime.Intrinsics.dll
Data/System.Runtime.Loader.dll
Data/System.Runtime.Numerics.dll
Data/System.Runtime.Serialization.dll
Data/System.Runtime.Serialization.Formatters.dll
Data/System.Runtime.Serialization.Json.dll
Data/System.Runtime.Serialization.Primitives.dll
Data/System.Runtime.Serialization.Xml.dll
Data/System.Security.AccessControl.dll
Data/System.Security.Claims.dll
Data/System.Security.Cryptography.Algorithms.dll
Data/System.Security.Cryptography.Cng.dll
Data/System.Security.Cryptography.Csp.dll
Data/System.Security.Cryptography.Encoding.dll
Data/System.Security.Cryptography.OpenSsl.dll
Data/System.Security.Cryptography.Pkcs.dll
Data/System.Security.Cryptography.Primitives.dll
Data/System.Security.Cryptography.X509Certificates.dll
Data/System.Security.Cryptography.Xml.dll
Data/System.Security.dll
Data/System.Security.Permissions.dll
Data/System.Security.Principal.dll
Data/System.Security.Principal.Windows.dll
Data/System.Security.SecureString.dll
Data/System.ServiceModel.Web.dll
Data/System.ServiceProcess.dll
Data/System.Text.Encoding.CodePages.dll
Data/System.Text.Encoding.dll
Data/System.Text.Encoding.Extensions.dll
Data/System.Text.Encodings.Web.dll
Data/System.Text.Json.dll
Data/System.Text.RegularExpressions.dll
Data/System.Threading.Channels.dll
Data/System.Threading.dll
Data/System.Threading.Overlapped.dll
Data/System.Threading.Tasks.Dataflow.dll
Data/System.Threading.Tasks.dll
Data/System.Threading.Tasks.Extensions.dll
Data/System.Threading.Tasks.Parallel.dll
Data/System.Threading.Thread.dll
Data/System.Threading.ThreadPool.dll
Data/System.Threading.Timer.dll
Data/System.Transactions.dll
Data/System.Transactions.Local.dll
Data/System.ValueTuple.dll
Data/System.Web.dll
Data/System.Web.HttpUtility.dll
Data/System.Windows.dll
Data/System.Windows.Extensions.dll
Data/System.Xml.dll
Data/System.Xml.Linq.dll
Data/System.Xml.ReaderWriter.dll
Data/System.Xml.Serialization.dll
Data/System.Xml.XDocument.dll
Data/System.Xml.XmlDocument.dll
Data/System.Xml.XmlSerializer.dll
Data/System.Xml.XPath.dll
Data/System.Xml.XPath.XDocument.dll
Data/Terraria.dll
Data/ToolKit.dll
Data/Updater.dll
Data/UserManagement.dll
Data/WebSocket4Net.dll
Data/WindowsBase.dll
Data/YgoProPatcher.dll
Data/Assets/starbound.config
Data/Ressource/en/string.json
Data/Ressource/es/string.json
Data/Ressource/fr/string.json
Data/publish/.DS_Store
Data/publish/appsettings.Development.json
Data/publish/appsettings.json
Data/publish/electron.manifest.json
Data/publish/libclrjit.dylib
Data/publish/libcoreclr.dylib
Data/publish/libSystem.IO.Compression.Native.dylib
Data/publish/libSystem.Native.dylib
Data/publish/libSystem.Net.Security.Native.dylib
Data/publish/libSystem.Security.Cryptography.Native.Apple.dylib
Data/publish/libSystem.Security.Cryptography.Native.OpenSsl.dylib
Data/publish/Pipas
Data/publish/web.config
Data/publish/Assets/starbound.config
Data/publish/Ressource/en/string.json
Data/publish/Ressource/es/string.json
Data/publish/Ressource/fr/string.json
Data/publish/wwwroot/.DS_Store
Data/publish/wwwroot/favicon.ico
Data/publish/wwwroot/Sound/The Pipas Song V2.mp3
Data/publish/wwwroot/assets/account.png
Data/publish/wwwroot/assets/Admin.png
Data/publish/wwwroot/assets/cloud.png
Data/publish/wwwroot/assets/delete.png
Data/publish/wwwroot/assets/discord.png
Data/publish/wwwroot/assets/doc.png
Data/publish/wwwroot/assets/en.png
Data/publish/wwwroot/assets/es.png
Data/publish/wwwroot/assets/fr.png
Data/publish/wwwroot/assets/info.png
Data/publish/wwwroot/assets/log.png
Data/publish/wwwroot/assets/mod.png
Data/publish/wwwroot/assets/Pipas.png
Data/publish/wwwroot/assets/Pipasx255.png
Data/publish/wwwroot/assets/rename.png
Data/publish/wwwroot/assets/report.png
Data/publish/wwwroot/assets/restore.png
Data/publish/wwwroot/assets/save.png
Data/publish/wwwroot/assets/setting.png
Data/publish/wwwroot/assets/starbound.png
Data/publish/wwwroot/assets/team13.png
Data/publish/wwwroot/assets/terraria.png
Data/publish/wwwroot/assets/update.png
Data/publish/wwwroot/assets/ycl.png
Data/publish/wwwroot/assets/admin/add_perm.png
Data/publish/wwwroot/assets/admin/contact.png
Data/publish/wwwroot/assets/admin/remove_perm.png
Data/publish/wwwroot/assets/admin/stats.png
Data/publish/wwwroot/css/gauge.css
Data/publish/wwwroot/css/history.css
Data/publish/wwwroot/css/login.css
Data/publish/wwwroot/css/style.css
Data/publish/wwwroot/js/SoundPlayer.js
Data/publish/wwwroot/js/tittleBar.js
Data/ref/Pipas.dll
.DS_Store
Cargo.lock
Data/wwwroot/favicon.ico
Data/wwwroot/Sound/The Pipas Song V2.mp3
Data/wwwroot/assets/account.png
Data/wwwroot/assets/Admin.png
Data/wwwroot/assets/cloud.png
Data/wwwroot/assets/delete.png
Data/wwwroot/assets/discord.png
Data/wwwroot/assets/doc.png
Data/wwwroot/assets/en.png
Data/wwwroot/assets/es.png
Data/wwwroot/assets/fr.png
Data/wwwroot/assets/info.png
Data/wwwroot/assets/log.png
Data/wwwroot/assets/mod.png
Data/wwwroot/assets/Pipas.png
Data/wwwroot/assets/Pipasx255.png
Data/wwwroot/assets/rename.png
Data/wwwroot/assets/report.png
Data/wwwroot/assets/restore.png
Data/wwwroot/assets/save.png
Data/wwwroot/assets/setting.png
Data/wwwroot/assets/starbound.png
Data/wwwroot/assets/team13.png
Data/wwwroot/assets/terraria.png
Data/wwwroot/assets/update.png
Data/wwwroot/assets/ycl.png
Data/wwwroot/assets/admin/add_perm.png
Data/wwwroot/assets/admin/contact.png
Data/wwwroot/assets/admin/remove_perm.png
Data/wwwroot/assets/admin/stats.png
Data/wwwroot/css/gauge.css
Data/wwwroot/css/history.css
Data/wwwroot/css/login.css
Data/wwwroot/css/style.css
Data/wwwroot/js/SoundPlayer.js
Data/wwwroot/js/tittleBar.js
Data/web.config
